#logot{
    font-weight: bold;
    color: #E53536;
}
#logott{
    font-weight: bold;
}
#sign{
    color: #E53536; 
}
#he{
    color: #E53536; 
}
#h{
    font-weight: bolder;
}
#lbtn{
    color: #E53536; 
}
#btn{
    border-radius: 255px;
}#try{
    color: white;
   border: none;
   padding: 15px 31px;
   border-radius: 9px;
   background-color: #E53536

}
#larka{
    position: relative;
    top: -33px;
    height: 558px;
    margin-left: 103px
}#tex{
    position: relative;
    top: 76px;
}
#one{
font-weight: bolder;
}
#how{
    color: #E53536; 
}